@using TicketingSystem.Web.Models.Tickets;

@model TicketViewModel

@{
    ViewBag.Title = "Ticket Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="card col-8 border-0">
            <p style="font-size:25px;">@Model.Title</p>
            <p>
                Issuer:
                <b>@Model.Sender.Email</b>
            </p>
            <p>
                Description:
                <b>@Model.Description</b>
            </p>
            <p>
                Release date:
                <b>@Model.ReleaseDate</b>
            </p>
            <p>
                State:
                <b>@Model.State</b>
            <p>
                Type:
                <b>@Model.Type</b>
            </p>
        </div>

        <form asp-controller="Ticket" asp-action="DeleteMine" asp-route-id="@Model.Id">
            <input class="ml-2 btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this ticket?')" />
            <input class="btn btn-secondary" asp-controller="Ticket" asp-action="ListMine" formmethod="get" type="submit" value="Cancel" />
        </form>
    </div>
</div>

<div>
    <partial name="MessagesFormPartial" model="@new TicketViewModelPartial(){TicketId = Model.Id, TicketSenderId = Model.SenderId, Messages = Model.Messages.ToList()}" />


    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
</div>
