@using TicketingSystem.Web.Models.Users;

@model UpdateUserRequest

@{
    ViewBag.Title = "Update user";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <input type="hidden" asp-for="@Model.Id" />
        <form method="post">
            <div class="mb-3">
                <label asp-for="@Model.FirstName" class="form-label">First name</label>
                <input asp-for="@Model.FirstName" class="form-control" aria-required="true" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.LastName" class="form-label">Last name</label>
                <input asp-for="@Model.LastName" class="form-control" aria-required="true" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.UserName" class="form-label">User name</label>
                <input asp-for="@Model.UserName" class="form-control" aria-required="true" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Email" class="form-label">Email</label>
                <input asp-for="@Model.Email" class="form-control" aria-required="true" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" asp-area="Administration" asp-controller="User" asp-action="Update" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>